@font-face {
    font-family: 'Baloo Bhai';
    src: url(./fonts/BalooBhai-Regular.ttf);
}

body, * {
    font-family: 'Baloo Bhai', Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.3;
}