:root {
    --main-blue: #2eb6da;
    --main-blue-hover: #1c9fc1;
    --main-red: #eb5667; 
    --main-red-hover: #f25a68; 
    --main-violet: #574ec0;
    --main-gray: #c8c8c8;
    --main-gray-hover: #adabab;
}