.label {
    display: block;
    margin-bottom: 2px;
    font-size: 15px;
}

.input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    transition: border .23s  ease-in-out;
    font-size: 21px;
    text-align: center;
}

.input:focus {
    border-color: #333;
    outline: none;
}

@media (min-width: 600px) {
    .label {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 0;
        width: 90px;
        font-size: 17px;
    }

    .input {
        padding: 2px 12px 0;
        font-size: 17px;
        text-align: left;
    }
}